a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

*,
:after,
:before {
    -webkit-touch-callout: none;
    box-sizing: inherit;
    outline: none
}

* {
    margin: 0;
    padding: 0
}

:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0
}

a,
button {
    color: inherit;
    outline: none;
    pointer-events: auto
}

button {
    background: none;
    border: none;
    border-radius: none;
    font: inherit
}

img {
    vertical-align: middle
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    pointer-events: auto
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
    width: 100%
}

@media(min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1320px
    }
}

.col {
    flex: 1 0 0%
}

.d-block {
    display: block !important
}

.d-none {
    display: none !important
}

@media(min-width:992px) {
    .d-lg-block {
        display: block !important
    }
    .d-lg-none {
        display: none !important
    }
}

h1,
h2,
h3,
h4,
h5,
li,
p,
small,
ul {
    margin: 0;
    padding: 0
}

@font-face {
    font-display: swap;
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 400;
    src: url(./HalyardDisplay-Regular.woff2) format("woff2"), url(./HalyardDisplay-Regular.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 600;
    src: url(./HalyardDisplaySemiBold-Regular.woff2) format("woff2"), url(./HalyardDisplaySemiBold-Regular.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 500;
    src: url(./HalyardDisplayMedium-Regular.woff2) format("woff2"), url(./HalyardDisplayMedium-Regular.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Halyard Display Book;
    font-style: normal;
    font-weight: 400;
    src: url(./HalyardDisplayBook-Regular.woff2) format("woff2"), url(./HalyardDisplayBook-Regular.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 700;
    src: url(./HalyardDisplay-Bold.woff2) format("woff2"), url(./HalyardDisplay-Bold.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Happy Times;
    font-style: italic;
    font-weight: 400;
    src: url(./HappyTimes-Italic.woff2) format("woff2"), url(./HappyTimes-Italic.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Happy Times;
    font-style: normal;
    font-weight: 700;
    src: url(./HappyTimes-Bold.woff2) format("woff2"), url(./HappyTimes-Bold.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Happy Times;
    font-style: normal;
    font-weight: 400;
    src: url(./HappyTimes-Regular.woff2) format("woff2"), url(./HappyTimes-Regular.woff) format("woff")
}

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    font-size: 24px
}

body {
    background: linear-gradient(180deg, #222, #1a1a1b);
    color: #fff;
    font-family: Halyard Display, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    overflow-x: hidden;
    position: fixed;
    top: 0
}

body,
html {
    height: 100%;
    overscroll-behavior-y: none;
    width: 100%
}

section {
    align-items: center;
    display: flex;
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%
}

@media(max-width:991px) {
    section {
        padding: 0 10px
    }
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none
}

h1,
h2 {
    font-family: Happy Times, serif;
    font-size: calc(1.325rem + .9vw);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1
}

@media(min-width:1200px) {
    h1,
    h2 {
        font-size: 2rem
    }
}

@media(min-width:991px) {
    h1,
    h2 {
        font-size: calc(1.325rem + .9vw)
    }
}

@media(min-width:991px)and (min-width:1200px) {
    h1,
    h2 {
        font-size: 2rem
    }
}

h3 {
    font-family: Happy Times, serif;
    font-size: calc(1.305rem + .66vw);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1
}

@media(min-width:1200px) {
    h3 {
        font-size: 1.8rem
    }
}

h4,
h5 {
    font-family: Happy Times, serif;
    font-size: calc(1.275rem + .3vw);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.1
}

@media(min-width:1200px) {
    h4,
    h5 {
        font-size: 1.5rem
    }
}

small {
    display: block;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 0
}

img {
    max-width: 100%
}

audio {
    display: none
}

::-moz-selection {
    background: #fff;
    color: #222
}

::selection {
    background: #fff;
    color: #222
}

.small {
    display: block;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 0
}

#main {
    overflow: hidden;
    width: 100%
}

.container {
    position: relative
}

@media(min-width:991px) {
    .container {
        margin: 0 auto;
        max-width: 90%
    }
}

.link {
    color: #fff;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.link:after,
.link:before {
    background: #fff;
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 100%
}

.link:before {
    content: "";
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform .3s
}

.link:hover:before {
    transform: scaleX(1);
    transform-origin: 0 50%
}

.border {
    border-bottom: 1px solid #fff;
    width: 100%
}

.masking-text {
    overflow: hidden
}

.full {
    height: 100%
}

.page {
    cursor: pointer;
    height: 100vh;
    left: 0;
    position: absolute;
    position: fixed;
    top: 0;
    width: 100vw
}

.special {
    font-family: Happy Times, serif
}

.scrolldown {
    bottom: 40px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    white-space: nowrap
}

.scrolldown p {
    display: block;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 0
}

@media(max-width:1368px)and (max-height:730px) {
    .scrolldown {
        bottom: 6px
    }
}

@media(max-width:991px) {
    .scrolldown {
        bottom: 40px
    }
}

.scrolldown svg {
    height: 100px;
    margin-top: 15px;
    transform: rotate(180deg) scaleX(-1)
}

@media(max-width:1368px)and (max-height:730px) {
    .scrolldown svg {
        height: 60px
    }
}

@media(max-width:991px) {
    .scrolldown svg {
        height: 65px
    }
}

.marquee {
    height: 200px;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100vw
}

.marquee__track {
    display: flex;
    position: absolute;
    white-space: nowrap
}

.marquee-animation {
    -webkit-animation: marquee 32s linear infinite;
    animation: marquee 32s linear infinite;
    will-change: transform
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0)
    }
    to {
        transform: translateX(-50%)
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }
    to {
        transform: translateX(-50%)
    }
}

.maxwidth-text {
    max-width: 700px
}

@media(max-width:991px) {
    .maxwidth-text {
        margin: 0 15px
    }
}

.background-stack {
    height: auto;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateY(100px);
    width: 100%
}

@media(max-width:991px) {
    .background-stack {
        transform: scale(2.8)
    }
}

.background-stack1 {
    bottom: -30%;
    z-index: 10
}

.background-stack2 {
    bottom: -15%;
    z-index: 9
}

.background-stack3 {
    bottom: 0;
    z-index: 8
}

.background-stack4 {
    bottom: 15%;
    z-index: 7
}

.background-stack5 {
    bottom: 30%;
    z-index: 6
}

.background-stack6 {
    bottom: 45%;
    z-index: 5
}

.background-stack7 {
    bottom: 60%;
    z-index: 4
}

.background-stack8 {
    bottom: 75%;
    z-index: 3
}

.background-stack9 {
    bottom: 90%;
    z-index: 2
}

.background-stack10 {
    bottom: 105%;
    z-index: 1
}

#preloader {
    align-items: center;
    background: linear-gradient(180deg, #222, #1a1a1b);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99
}

#preloader .preloader__text {
    overflow: hidden;
    position: relative;
    text-align: center
}

#preloader .preloader__text .text__hide {
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 100%)
}

@media(max-width:991px) {
    #preloader .preloader__text .text__hide {
        transform: translate(-50%, 200%)
    }
}

#preloader .preloader__animation {
    height: 80px;
    margin: 1rem auto -80px;
    width: 80px
}

#header {
    left: 3%;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 999
}

@media(max-width:991px) {
    #header {
        left: 15px
    }
}

#header .navbar {
    padding: 1.5rem 0
}

@media(max-width:991px) {
    #header .navbar {
        padding: 1rem 0
    }
    #header .navbar .logo {
        width: 100px
    }
}

.settings,
.sound {
    background: #000;
    border-radius: 4px;
    bottom: 50px;
    cursor: pointer;
    display: none;
    opacity: 0;
    padding: 15px;
    position: fixed;
    right: 50px;
    z-index: 99
}

@media(max-width:991px) {
    .settings,
    .sound {
        bottom: 15px;
        right: 15px
    }
}

.settings__icon,
.sound__icon {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px
}

.settings,
.sound__icon__off {
    display: none
}

.settings {
    cursor: pointer;
    opacity: 0
}

.settings:hover .settings__icon__cog {
    transform: rotate(30deg)
}

.settings__icon__cog {
    transition: transform .3s ease
}

.settings-overlay {
    align-items: center;
    background: rgba(34, 34, 34, .8);
    display: block;
    display: flex;
    display: none;
    flex-direction: row;
    font-size: .7rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    left: 0;
    letter-spacing: 0;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
}

.settings-overlay-close {
    cursor: pointer;
    position: absolute;
    right: -13%;
    top: -14%
}

.settings-overlay-close img {
    height: 17px;
    transition: transform .5s ease
}

.settings-overlay-close:hover img {
    transform: scale(1.2)
}

.settings-overlay-box {
    border: 1px solid #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    transform: scale(0) translateY(100px);
    width: 220px
}

.settings-overlay-lang-item,
.settings-overlay-sound-item {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start
}

.settings-overlay-sound-item-text {
    margin-left: 7px
}

.settings-overlay-lang-item a,
.settings-overlay-sound-item a {
    margin-right: 10px
}

.settings-overlay-sound {
    transition: all .3s ease
}

.settings-overlay-sound-item {
    cursor: pointer;
    flex-direction: row;
    transition: all .3s ease
}

.settings-overlay-sound-item:hover {
    text-decoration: underline
}

.settings-overlay-lang {
    align-items: flex-start;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 15px
}

.settings-overlay-lang p {
    font-weight: 600;
    margin-bottom: .5rem
}

.settings-overlay-lang-item {
    flex-direction: column
}

.settings-overlay-lang-item>* {
    display: flex;
    text-transform: uppercase
}

.settings-overlay-lang-item>:not(:last-child) {
    margin-bottom: .5rem
}

.settings-overlay-lang-item a {
    transition: all .3s ease
}

.settings-overlay-lang-item a:hover {
    text-decoration: underline
}

.settings-overlay-lang-item a.active {
    color: #bb86ff;
    font-weight: 500;
    pointer-events: none;
    text-decoration: underline
}

.bar__skip {
    cursor: pointer;
    display: block;
    display: none;
    font-size: .7rem;
    font-weight: 400;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    letter-spacing: 0;
    opacity: 0;
    position: fixed;
    right: 50px;
    text-align: right;
    text-decoration: underline;
    top: 50px;
    z-index: 99
}

@media(max-width:991px) {
    .bar__skip {
        bottom: 15px;
        right: 15px
    }
}

.bar__skip a {
    color: inherit;
    display: none;
    opacity: 0
}

.grain__bg {
    background-image: url(./noise.png);
    background-repeat: repeat;
    cursor: none;
    height: 100%;
    left: 0;
    opacity: .5;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.language {
    bottom: 60px;
    display: block;
    display: none;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 4px;
    letter-spacing: 1px;
    opacity: 0;
    position: fixed;
    right: 130px;
    z-index: 99
}

@media(max-width:991px) {
    .language {
        bottom: 30px;
        right: 75px
    }
}

.language a {
    color: inherit;
    cursor: pointer
}

.language a:hover {
    text-decoration: underline
}

.language-select {
    cursor: default
}

.language-select .active {
    font-weight: 500
}

#sprint1 {
    display: flex;
    opacity: 1;
    z-index: 1
}

#sprint1 .sprint1__sound__title-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle
}

#sprint1 .sprint1__sound__title svg {
    margin-right: .7rem
}

#sprint1 .sprint1__sound__title p {
    display: inline-block
}

#sprint1 .sprint1__sound__btn {
    display: block;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    text-decoration: underline;
    z-index: 2
}

#sprint1 .sprint1__sound__btn__on {
    cursor: pointer;
    margin: 1.5rem 0;
    position: relative
}

#sprint1 .sprint1__sound__btn__on svg {
    left: -25%;
    position: absolute;
    top: -65%;
    transition: transform .3s cubic-bezier(.19, 1, .22, 1);
    width: 150%
}

@media(max-width:991px) {
    #sprint1 .sprint1__sound__btn__on svg {
        top: -90%
    }
}

#sprint1 .sprint1__sound__btn__on:hover svg {
    transform: scale(1.1)
}

#sprint1 .sprint1__sound__btn__skip {
    cursor: pointer
}

#sprint1 .sprint1__intro {
    display: none;
    opacity: 0
}

#sprint1 .sprint1__intro__title {
    font-family: Halyard Display, sans-serif
}

@media(max-width:991px) {
    #sprint1 .sprint1__intro__title {
        line-height: 1.3
    }
}

#sprint1 .sprint1__intro__title .highlight {
    position: relative
}

#sprint1 .sprint1__intro__title .highlight__text,
#sprint1 .sprint1__intro__title .highlight__text-end {
    font-family: Happy Times, serif
}

#sprint1 .sprint1__intro__title .highlight svg {
    bottom: 3px;
    left: 0;
    position: absolute;
    z-index: -1
}

@media(max-width:991px) {
    #sprint1 .sprint1__intro__title .highlight svg {
        height: 10px
    }
}

#sprint1 .sprint1__intro__title .highlight svg .mask-path {
    fill: none;
    stroke: #fff;
    stroke-width: 20;
    stroke-dashoffset: 20
}

#sprint1 .sprint1__glow {
    display: none;
    opacity: 0
}

#sprint1 .sprint1__glow__bg {
    background-image: url(./noise.png);
    background-repeat: repeat;
    opacity: .7
}

#sprint1 .sprint1__glow__bg,
#sprint1 .sprint1__glow__overlay {
    cursor: none;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

#sprint1 .sprint1__glow__overlay {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    z-index: 2
}

#sprint1 .sprint1__glow__list {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

#sprint1 .sprint1__glow__list__item {
    position: absolute
}

#sprint1 .sprint1__glow__list__item p {
    line-height: 1;
    position: relative
}

#sprint1 .sprint1__glow__list__item img {
    opacity: .7;
    position: absolute;
    z-index: 1
}

#sprint1 .sprint1__glow__dumb {
    left: 10%;
    top: 20%
}

#sprint1 .sprint1__glow__dumb p {
    font-size: .9rem
}

#sprint1 .sprint1__glow__weird {
    left: 20%;
    top: 35%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__weird {
        left: 15%
    }
}

#sprint1 .sprint1__glow__weird p {
    font-size: calc(1.325rem + .9vw)
}

@media(min-width:1200px) {
    #sprint1 .sprint1__glow__weird p {
        font-size: 2rem
    }
}

#sprint1 .sprint1__glow__weird img {
    left: -30%;
    top: -68%
}

#sprint1 .sprint1__glow__defective {
    left: 15%;
    top: 55%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__defective {
        left: 10%;
        top: 69%
    }
}

#sprint1 .sprint1__glow__defective p {
    font-size: 1rem
}

#sprint1 .sprint1__glow__genius {
    left: 28%;
    top: 70%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__genius {
        left: 20%;
        top: 79%
    }
}

#sprint1 .sprint1__glow__genius p {
    font-size: calc(1.285rem + .42vw)
}

@media(min-width:1200px) {
    #sprint1 .sprint1__glow__genius p {
        font-size: 1.6rem
    }
}

#sprint1 .sprint1__glow__genius img {
    left: -40%;
    top: -80%
}

#sprint1 .sprint1__glow__abnormal {
    left: 43%;
    top: 18%
}

#sprint1 .sprint1__glow__abnormal p {
    font-size: 1rem
}

#sprint1 .sprint1__glow__trouble {
    left: 48%;
    top: 40%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__trouble {
        left: 58%;
        top: 45%
    }
}

#sprint1 .sprint1__glow__trouble p {
    font-size: 1rem
}

#sprint1 .sprint1__glow__lackemp {
    left: 50%;
    top: 57%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__lackemp {
        left: 35%;
        top: 60%
    }
}

#sprint1 .sprint1__glow__lackemp p {
    font-size: calc(1.405rem + 1.86vw)
}

@media(min-width:1200px) {
    #sprint1 .sprint1__glow__lackemp p {
        font-size: 2.8rem
    }
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__lackemp p {
        font-size: calc(1.345rem + 1.14vw)
    }
}

@media(max-width:991px)and (min-width:1200px) {
    #sprint1 .sprint1__glow__lackemp p {
        font-size: 2.2rem
    }
}

#sprint1 .sprint1__glow__violent {
    left: 50%;
    top: 85%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__violent {
        left: 69%;
        top: 85%
    }
}

#sprint1 .sprint1__glow__violent p {
    font-size: .9rem
}

#sprint1 .sprint1__glow__violent img {
    left: -160%;
    max-width: 280%;
    top: -330%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__violent img {
        left: -120%;
        max-width: 210%;
        top: -250%
    }
}

#sprint1 .sprint1__glow__lackemo {
    left: 79%;
    top: 25%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__lackemo {
        left: 50%;
        top: 28%
    }
}

#sprint1 .sprint1__glow__lackemo p {
    font-size: calc(1.275rem + .3vw)
}

@media(min-width:1200px) {
    #sprint1 .sprint1__glow__lackemo p {
        font-size: 1.5rem
    }
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__lackemo p {
        font-size: 1.1rem
    }
}

#sprint1 .sprint1__glow__lackemo img {
    left: -35%;
    top: -180%
}

@media(max-width:991px) {
    #sprint1 .sprint1__glow__lackemo img {
        left: -15%;
        top: -120%;
        width: 55%
    }
}

#sprint1 .sprint1__glow__solution {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3
}

#sprint1 .sprint1__glow__solution__title {
    font-family: Halyard Display, sans-serif
}

#sprint1 .sprint1__glow__solution__glow {
    opacity: .7;
    position: fixed;
    z-index: -1
}

#sprint1 .sprint1__glow__solution__desc-1 {
    position: absolute;
    right: 20%;
    top: 20%
}

#sprint1 .sprint1__glow__solution__desc-2 {
    bottom: 20%;
    left: 20%;
    position: absolute
}

#sprint1 .sprint1__end {
    align-items: center;
    cursor: default;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%
}

#sprint1 .sprint1__end__title {
    font-family: Halyard Display, sans-serif;
    line-height: normal;
    max-width: 1000px
}

@media(max-width:991px) {
    #sprint1 .sprint1__end__title {
        max-width: 300px
    }
}

#sprint1 .sprint1__end__title .highlight {
    position: relative
}

#sprint1 .sprint1__end__title .highlight svg {
    bottom: -8px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1
}

#sprint1 .sprint1__end__title .highlight svg .mask-path-2 {
    fill: none;
    stroke: #fff;
    stroke-width: 20;
    stroke-dashoffset: 20
}

#sprint2 {
    cursor: pointer;
    z-index: 2
}

#sprint2 .grain__bg {
    opacity: 0
}

#sprint2 .sprint2__circlebg {
    filter: blur(25px);
    height: 90vh;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 90vh;
    z-index: -1
}

@media(max-width:991px) {
    #sprint2 .sprint2__circlebg {
        height: 80vh;
        width: 80vh
    }
}

#sprint2 .sprint2__circlebg__shape {
    border-radius: 100%;
    box-shadow: 1px 0 50px 25px #5c4c4e;
    height: 100%;
    width: 100%
}

#sprint2 .sprint2__human {
    bottom: 0;
    position: absolute;
    width: 47vw
}

@media(max-width:991px) {
    #sprint2 .sprint2__human {
        width: 100%
    }
}

#sprint2 .sprint2__human__svg {
    bottom: 0;
    height: auto;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 45vw
}

@media(max-width:991px) {
    #sprint2 .sprint2__human__svg {
        height: 135vw;
        width: auto
    }
}

#sprint2 .sprint2__human .sprint2__arrow {
    margin-bottom: -1vw;
    position: relative;
    width: 25%;
    z-index: 2
}

@media(max-width:991px) {
    #sprint2 .sprint2__human .sprint2__arrow {
        margin-bottom: -10vw;
        width: 35%
    }
}

#sprint2 .sprint2__human__text {
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    white-space: nowrap;
    z-index: 3
}

@media(max-width:991px) {
    #sprint2 .sprint2__human__text {
        margin-bottom: 4rem
    }
}

@media only screen and (min-device-width:768px)and (max-device-width:1024px) {
    #sprint2 .sprint2__human__text {
        bottom: 1rem;
        left: 50%;
        margin-bottom: 0;
        position: fixed;
        transform: translateX(-50%)
    }
}

#sprint2 .sprint2__bg {
    display: none;
    opacity: 0;
    z-index: 0
}

#sprint2 .sprint2__bg-overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98
}

#sprint2 .sprint2__bg-flower {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transform-origin: center;
    width: 100%;
    z-index: 99
}

#sprint2 .sprint2__bg-flower img,
#sprint2 .sprint2__bg-flower svg {
    height: 90%;
    max-height: 800px;
    max-width: 800px;
    position: absolute
}

@media(max-width:991px) {
    #sprint2 .sprint2__bg-flower img,
    #sprint2 .sprint2__bg-flower svg {
        max-height: 45vh;
        max-width: 45vh
    }
}

#sprint2 .sprint2__bg-flower svg {
    overflow: visible
}

#sprint2 .sprint2__bg-flower img {
    z-index: -1
}

#sprint2 .sprint2__bg-sulur {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 97
}

@media(max-width:991px) {
    #sprint2 .sprint2__whatis__text {
        margin-bottom: 30%
    }
}

#sprint2 .sprint2__unleash,
#sprint2 .sprint2__whatis {
    display: none;
    opacity: 0;
    pointer-events: none;
    z-index: 2
}

#sprint2 .sprint2__unleash h2,
#sprint2 .sprint2__whatis h2 {
    font-family: Halyard Display, sans-serif;
    margin-bottom: 1rem
}

#sprint2 .sprint2__unleash__arrow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: inifiniterotate;
    animation-name: inifiniterotate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    bottom: 50px;
    position: fixed
}

@-webkit-keyframes inifiniterotate {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(20px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes inifiniterotate {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(20px)
    }
    to {
        transform: translateY(0)
    }
}

#sprint2 .sprint2__whatis {
    position: relative
}

#sprint4 {
    display: flex;
    visibility: hidden;
    z-index: 4
}

#sprint4 a {
    margin-top: .5rem;
    text-decoration: underline
}

@media(max-width:991px) {
    #sprint4 {
        padding: 0
    }
}

#sprint4 .scrolldown {
    opacity: 0;
    z-index: 2
}

#sprint4 .sprint4__text {
    left: 5%;
    max-width: 22rem;
    position: fixed;
    text-align: left;
    top: 25%;
    z-index: 2
}

@media(max-width:991px) {
    #sprint4 .sprint4__text {
        left: 0;
        padding: 0 10px
    }
}

#sprint4 .sprint4__text h3 {
    line-height: normal;
    margin-bottom: 1rem
}

#sprint4 .sprint4__anim {
    display: block;
    height: 100%;
    width: 100%
}

#sprint5 {
    background: #fff;
    color: #222;
    z-index: 5
}

@media(max-width:991px) {
    #sprint5 {
        padding: 0 15px
    }
}

#sprint5 .grain__bg {
    opacity: .2;
    z-index: 99
}

#sprint5 .radialgradient {
    background: #ffe4db;
    background: radial-gradient(circle, #ffe4db 0, rgba(255, 228, 219, 0) 40%);
    border-radius: 100%;
    height: 160vh;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160vh
}

#sprint5 .scrolldown {
    opacity: 0
}

#sprint5 .sprint5__text {
    opacity: 0;
    position: fixed;
    top: 30%;
    z-index: 3
}

@media(max-width:991px) {
    #sprint5 .sprint5__text {
        top: 20%
    }
}

#sprint5 .sprint5__text p {
    font-family: Happy Times, serif;
    font-family: Halyard Display, sans-serif;
    font-size: calc(1.365rem + 1.38vw);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    margin: 0 2.2rem;
    position: relative;
    white-space: nowrap
}

@media(min-width:1200px) {
    #sprint5 .sprint5__text p {
        font-size: 2.4rem
    }
}

@media(min-width:991px) {
    #sprint5 .sprint5__text p {
        font-size: calc(1.365rem + 1.38vw)
    }
}

@media(min-width:991px)and (min-width:1200px) {
    #sprint5 .sprint5__text p {
        font-size: 2.4rem
    }
}

#sprint5 .sprint5__text p:after {
    background: #222;
    border-radius: 100%;
    content: "";
    height: .6rem;
    position: absolute;
    right: -2.2rem;
    top: 45%;
    width: .6rem
}

#sprint5 .sprint5__desc {
    opacity: 0;
    position: fixed;
    top: 45%;
    transform: translateY(60px);
    z-index: 2
}

@media(min-width:991px) {
    #sprint5 .sprint5__desc {
        display: block;
        font-size: .7rem;
        font-weight: 400;
        letter-spacing: 0
    }
}

@media(max-width:991px) {
    #sprint5 .sprint5__desc {
        margin: 0;
        padding: 0 15px;
        top: 33%
    }
}

#sprint5 .sprint5__flower {
    bottom: 0;
    height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 100%
}

#sprint5 .sprint5__flower img {
    bottom: 25%;
    left: 51%;
    max-height: 50vh;
    position: absolute;
    transform: translateX(-51%)
}

#sprint5 .sprint5__flower-stem {
    bottom: 0 !important;
    transform: translateX(-114%) !important;
    z-index: 0
}

#sprint5 .sprint5__flower-2,
#sprint5 .sprint5__flower-3,
#sprint5 .sprint5__flower-4,
#sprint5 .sprint5__flower-5,
#sprint5 .sprint5__flower-6,
#sprint5 .sprint5__flower-7 {
    visibility: hidden
}

#sprint5 .sprint5__flower-1 {
    z-index: 1
}

#sprint5 .sprint5__flower-2 {
    z-index: 2
}

#sprint5 .sprint5__flower-3 {
    z-index: 3
}

#sprint5 .sprint5__flower-4 {
    z-index: 4
}

#sprint5 .sprint5__flower-5 {
    z-index: 5
}

#sprint5 .sprint5__flower-6 {
    z-index: 6
}

#sprint5 .sprint5__flower-7 {
    z-index: 7
}

#sprint5 .sprint5__types {
    display: none;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    position: relative;
    width: 100%;
    z-index: 20
}

#sprint5 .sprint5__types-out1,
#sprint5 .sprint5__types-out2,
#sprint5 .sprint5__types-out3,
#sprint5 .sprint5__types-out4 {
    position: fixed
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-out1,
    #sprint5 .sprint5__types-out2,
    #sprint5 .sprint5__types-out3,
    #sprint5 .sprint5__types-out4 {
        display: none
    }
}

#sprint5 .sprint5__types-out1 {
    right: -25px;
    top: 13vh
}

#sprint5 .sprint5__types-out2 {
    left: -80px;
    top: 85vh;
    transform: rotate(40deg)
}

#sprint5 .sprint5__types-out3 {
    left: -50px;
    top: 155vh
}

#sprint5 .sprint5__types-out4 {
    right: -90px;
    top: 221vh;
    transform: rotate(103deg) scaleY(-1)
}

#sprint5 .sprint5__types-item {
    margin-bottom: 27vh;
    max-width: 375px;
    opacity: 0;
    position: relative;
    text-align: left;
    top: 40px;
    z-index: 2
}

@media(max-width:1368px)and (max-height:730px) {
    #sprint5 .sprint5__types-item {
        margin-bottom: 15vh
    }
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-item {
        margin-bottom: 27vh;
        transform: translateX(0) !important
    }
}

#sprint5 .sprint5__types-item-img {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    left: -55%;
    max-width: 45vh;
    position: absolute;
    top: -65%;
    z-index: -1
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-item-img {
        left: -15%;
        max-width: 30vh;
        top: -70%
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translate(0)
    }
    50% {
        transform: translateY(20px)
    }
    to {
        transform: translate(0)
    }
}

@keyframes floating {
    0% {
        transform: translate(0)
    }
    50% {
        transform: translateY(20px)
    }
    to {
        transform: translate(0)
    }
}

#sprint5 .sprint5__types-item-img:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

#sprint5 .sprint5__types-item img {
    transition: transform .3s ease;
    width: 100%
}

#sprint5 .sprint5__types-item img:hover {
    transform: translate(7px, 5px) rotate(3deg) !important
}

#sprint5 .sprint5__types-item h2 {
    font-family: Happy Times, serif;
    font-size: calc(1.305rem + .66vw);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    white-space: nowrap
}

@media(min-width:1200px) {
    #sprint5 .sprint5__types-item h2 {
        font-size: 1.8rem
    }
}

#sprint5 .sprint5__types-item p {
    margin: .7rem 0
}

@media(min-width:991px) {
    #sprint5 .sprint5__types-item p {
        display: block;
        font-size: .7rem;
        font-weight: 400;
        letter-spacing: 0
    }
}

#sprint5 .sprint5__types-item span {
    color: #222;
    cursor: pointer;
    text-decoration: underline;
    transform: color .3s ease
}

@media(min-width:991px) {
    #sprint5 .sprint5__types-item span {
        display: block;
        font-size: .7rem;
        font-weight: 400;
        letter-spacing: 0
    }
}

#sprint5 .sprint5__types-item span:hover {
    color: #a259ff
}

#sprint5 .sprint5__types-1 {
    margin-top: 27vh;
    transform: translateX(37vh)
}

#sprint5 .sprint5__types-2 {
    transform: translateX(67vw)
}

#sprint5 .sprint5__types-3 {
    margin-bottom: 22vh;
    transform: translateX(32vw)
}

#sprint5 .sprint5__types-4 {
    margin-bottom: 16vh;
    transform: translateX(67vw)
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-4 .sprint5__types-item-img {
        left: -17%
    }
}

#sprint5 .sprint5__types-5 {
    transform: translateX(14vw)
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-5 {
        margin-bottom: 18vh
    }
}

#sprint5 .sprint5__types-5 .sprint5__types-item-img {
    left: -45%;
    top: -28%
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-5 .sprint5__types-item-img {
        left: -15%
    }
}

#sprint5 .sprint5__types-6 {
    max-width: 1020px;
    text-align: center
}

@media(min-width:991px) {
    #sprint5 .sprint5__types-6 {
        left: 50%;
        transform: translateX(-50%)
    }
}

#sprint5 .sprint5__types-6 h2 {
    white-space: normal
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-6 {
        padding: 0 10px
    }
}

#sprint5 .sprint5__types-sulur {
    height: 235vh;
    left: 0;
    max-width: none;
    position: absolute;
    top: -10%;
    transform: translateX(10%);
    transform-origin: top
}

@media(max-width:991px) {
    #sprint5 .sprint5__types-sulur {
        display: none
    }
}

#sprint5 .sprint5__detail {
    align-items: center;
    background: #fff;
    display: flex;
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 95
}

#sprint5 .sprint5__detail-5 .sprint5__detail-title img {
    left: -25%;
    top: -130%
}

#sprint5 .sprint5__detail-title {
    display: inline-block;
    position: absolute;
    top: 20%;
    z-index: 1
}

#sprint5 .sprint5__detail-title img {
    left: -75%;
    max-width: 23vh;
    position: absolute;
    top: -145%;
    z-index: 1
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-title img {
        left: -105%;
        top: -230%
    }
}

#sprint5 .sprint5__detail-title h2 {
    line-height: normal;
    position: relative;
    z-index: 2
}

#sprint5 .sprint5__detail-desc {
    display: flex;
    flex-direction: row;
    font-size: .7rem;
    justify-content: center;
    margin-top: 5%;
    text-align: left;
    width: 100%;
    z-index: 2
}

@media(min-width:991px) {
    #sprint5 .sprint5__detail-desc-1,
    #sprint5 .sprint5__detail-desc-2 {
        width: 22%
    }
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-desc {
        flex-direction: column;
        margin-top: 12%;
        padding: 0 30px
    }
}

#sprint5 .sprint5__detail-desc h3 {
    color: #000;
    font-style: italic;
    line-height: normal
}

@media(min-width:991px) {
    #sprint5 .sprint5__detail-desc h3 {
        font-size: 1.2rem
    }
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-desc h3 {
        margin-bottom: 1rem
    }
}

@media(min-width:991px) {
    #sprint5 .sprint5__detail-desc ul {
        margin-top: 2rem
    }
}

#sprint5 .sprint5__detail-desc ul .masking-text {
    padding: 0 20px
}

#sprint5 .sprint5__detail-desc ul li .line:before {
    content: "â€¢";
    left: -15px;
    position: absolute
}

#sprint5 .sprint5__detail-desc-split {
    margin: 1.5rem 0
}

@media(min-width:991px) {
    #sprint5 .sprint5__detail-desc-split {
        border: 1px solid #000;
        height: 100%;
        margin: 0 8%
    }
}

#sprint5 .sprint5__detail-close {
    position: fixed;
    top: 5%;
    width: 100%
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-close {
        padding: 0 15px
    }
}

#sprint5 .sprint5__detail-close-icon {
    cursor: pointer;
    position: absolute;
    right: 0
}

@media(min-width:991px) {
    #sprint5 .sprint5__detail-close-icon {
        transition: transform .3s ease
    }
    #sprint5 .sprint5__detail-close-icon:hover {
        transform: scale(1.05)
    }
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-close-icon {
        transform: scale(1.3)
    }
}

#sprint5 .sprint5__detail-nav {
    bottom: 12%;
    position: fixed;
    width: 100%
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-nav {
        bottom: 8%;
        padding: 0 15px
    }
}

#sprint5 .sprint5__detail-nav-next,
#sprint5 .sprint5__detail-nav-prev {
    align-self: center;
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    transition: transform .3s ease
}

#sprint5 .sprint5__detail-nav-next-icon,
#sprint5 .sprint5__detail-nav-prev-icon {
    position: relative;
    top: .125em
}

#sprint5 .sprint5__detail-nav-next {
    right: 0
}

#sprint5 .sprint5__detail-nav-next-icon {
    margin-left: 15px
}

#sprint5 .sprint5__detail-nav-next:hover {
    transform: translateX(5px)
}

#sprint5 .sprint5__detail-nav-prev {
    left: 0
}

#sprint5 .sprint5__detail-nav-prev-icon {
    margin-right: 15px;
    transform: rotate(180deg)
}

#sprint5 .sprint5__detail-nav-prev:hover {
    transform: translateX(-5px)
}

#sprint5 .sprint5__detail-out {
    bottom: -8%;
    position: fixed;
    right: 30%;
    z-index: 1
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-out {
        display: none
    }
}

#sprint5 .sprint5__detail-bg {
    pointer-events: none;
    z-index: -1
}

#sprint5 .sprint5__detail-bg-left,
#sprint5 .sprint5__detail-bg-right {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%
}

#sprint5 .sprint5__detail-bg-left-all,
#sprint5 .sprint5__detail-bg-right-all {
    height: 100%;
    position: absolute;
    width: auto
}

#sprint5 .sprint5__detail-bg-left,
#sprint5 .sprint5__detail-bg-left-all {
    left: 0
}

#sprint5 .sprint5__detail-bg-left-1 {
    left: -5%;
    z-index: 3
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-bg-left-1 {
        left: -58%
    }
}

#sprint5 .sprint5__detail-bg-left-2 {
    left: 0;
    z-index: 2
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-bg-left-2 {
        left: -44%
    }
}

#sprint5 .sprint5__detail-bg-left-3 {
    left: 5%;
    z-index: 1
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-bg-left-3 {
        left: -28%
    }
}

#sprint5 .sprint5__detail-bg-right,
#sprint5 .sprint5__detail-bg-right-all {
    right: 0
}

#sprint5 .sprint5__detail-bg-right-1 {
    right: -5%;
    z-index: 3
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-bg-right-1 {
        right: -58%
    }
}

#sprint5 .sprint5__detail-bg-right-2 {
    right: 0;
    z-index: 2
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-bg-right-2 {
        right: -44%
    }
}

#sprint5 .sprint5__detail-bg-right-3 {
    right: 5%;
    z-index: 1
}

@media(max-width:991px) {
    #sprint5 .sprint5__detail-bg-right-3 {
        right: -28%
    }
}

#sprint6 {
    z-index: 6
}

#sprint6 a {
    text-decoration: underline
}

#sprint6 .scrolldown {
    opacity: 0;
    z-index: 200
}

#sprint6 .grain__bg {
    opacity: 0;
    z-index: 99
}

#sprint6 .background-stack {
    opacity: 1;
    transform: translateY(0)
}

@media(max-width:991px) {
    #sprint6 .background-stack {
        transform: scale(2.8)
    }
}

#sprint6 .highlight {
    display: inline-block;
    position: relative
}

#sprint6 .highlight svg {
    bottom: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1
}

@media(max-width:991px) {
    #sprint6 .highlight svg {
        bottom: -9px
    }
}

#sprint6 .sprint6__stack {
    opacity: 0
}

#sprint6 .sprint6__opening {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%
}

#sprint6 .sprint6__text {
    color: #000;
    max-width: 850px;
    opacity: 0;
    position: relative;
    text-align: center;
    transform: translateY(200%);
    z-index: 100
}

@media(max-width:991px) {
    #sprint6 .sprint6__text {
        padding: 0 10px
    }
}

#sprint6 .sprint6__text p {
    font-size: calc(1.275rem + .3vw)
}

@media(min-width:1200px) {
    #sprint6 .sprint6__text p {
        font-size: 1.5rem
    }
}

#sprint6 .sprint6__text h3 {
    font-size: 1rem;
    font-style: normal;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 2rem
}

#sprint6 .sprint6__whatcanyou {
    align-items: center;
    background: #222;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 100
}

#sprint6 .sprint6__whatcanyou .grain__bg {
    opacity: .3 !important;
    z-index: 2
}

@media(max-width:991px) {
    #sprint6 .sprint6__whatcanyou {
        align-items: flex-start
    }
}

#sprint6 .sprint6__whatcanyou-title {
    display: inline-block;
    position: absolute;
    top: 20%;
    z-index: 3
}

@media(max-width:991px) {
    #sprint6 .sprint6__whatcanyou-title {
        padding-left: 10px
    }
}

#sprint6 .sprint6__whatcanyou-title h2 {
    font-size: calc(1.275rem + .3vw);
    line-height: normal;
    position: relative;
    z-index: 2
}

@media(min-width:1200px) {
    #sprint6 .sprint6__whatcanyou-title h2 {
        font-size: 1.5rem
    }
}

#sprint6 .sprint6__whatcanyou-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 2;
    z-index: 3
}

@media(min-width:991px) {
    #sprint6 .sprint6__whatcanyou-desc-1,
    #sprint6 .sprint6__whatcanyou-desc-2 {
        max-width: 27%;
        width: 100%
    }
}

@media(min-width:1500px) {
    #sprint6 .sprint6__whatcanyou-desc-1,
    #sprint6 .sprint6__whatcanyou-desc-2 {
        max-width: 400px
    }
}

#sprint6 .sprint6__whatcanyou-desc-1 .highlight svg {
    bottom: -4px;
    left: -15%;
    width: 138%
}

#sprint6 .sprint6__whatcanyou-desc-2 .highlight svg {
    bottom: -1px;
    left: 0;
    width: 110%
}

@media(max-width:991px) {
    #sprint6 .sprint6__whatcanyou-desc {
        flex-direction: column;
        margin-top: 12%;
        padding: 0 10px
    }
}

#sprint6 .sprint6__whatcanyou-desc p {
    font-size: 1.2rem;
    font-weight: 600
}

#sprint6 .sprint6__whatcanyou-desc a {
    display: block;
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 1.2rem;
    white-space: nowrap
}

#sprint6 .sprint6__whatcanyou-desc-split {
    margin: 1.5rem 0
}

@media(min-width:991px) {
    #sprint6 .sprint6__whatcanyou-desc-split {
        border: 1px solid #fff;
        height: 100%;
        margin: 0 8%
    }
}

#sprint6 .sprint6__whatcanyou-bg {
    bottom: 0;
    height: 100%;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 1
}

#sprint6 .sprint6__whatcanyou-bg-left,
#sprint6 .sprint6__whatcanyou-bg-right {
    bottom: -33%;
    height: 55vw;
    position: absolute
}

@media(max-width:991px) {
    #sprint6 .sprint6__whatcanyou-bg-left,
    #sprint6 .sprint6__whatcanyou-bg-right {
        bottom: -20%;
        height: 65vh
    }
}

#sprint6 .sprint6__whatcanyou-bg-left {
    left: -20%
}

@media(max-width:991px) {
    #sprint6 .sprint6__whatcanyou-bg-left {
        left: -63%
    }
}

#sprint6 .sprint6__whatcanyou-bg-right {
    right: -22%
}

@media(max-width:991px) {
    #sprint6 .sprint6__whatcanyou-bg-right {
        right: -64%
    }
}

#sprint6 .sprint6__creditend {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 100
}

#sprint6 .sprint6__creditend .radialgradient {
    background: #796159;
    background: radial-gradient(circle, #054a0c 0, rgba(34, 34, 34, 0) 50%);
    border-radius: 100%;
    height: 160vh;
    left: 50%;
    opacity: .6;
    pointer-events: none;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160vh;
    z-index: -1
}

@media(max-width:991px) {
    #sprint6 .sprint6__creditend-text {
        padding: 0 10px
    }
}

#sprint6 .sprint6__creditend-text p {
    font-family: Halyard Display, sans-serif;
    font-size: calc(1.275rem + .3vw);
    font-weight: 400
}

@media(min-width:1200px) {
    #sprint6 .sprint6__creditend-text p {
        font-size: 1.5rem
    }
}

#sprint6 .sprint6__creditend-text .highlight svg {
    bottom: -2px;
    left: -2%;
    width: 105%
}

@media(max-width:991px) {
    #sprint6 .sprint6__creditend-text .highlight svg {
        bottom: -12px;
        width: 100%
    }
}

#sprint6 .sprint6__creditend-contact {
    bottom: 8%;
    position: fixed
}

#sprint6 .sprint6__creditend-contact p {
    font-weight: 500
}

@media(max-width:575.98px) {
    :root {
        font-size: 20px
    }
}

@media(min-width:1399.98px) {
    :root {
        font-size: 28px
    }
}